body {background-color:beige;}
p {font-family: arial; text-align: justify;}
h1 {color: rgb(153, 102, 51); font-size: 15px;}
h4 {text-align: center;}


a {text-decoration: none;}
img {border-radius: 50px;}
li {padding-top: 10px; padding-right: 10px}

.nav {list-style-type: none; margin:10; padding:5; background-color: blanchedalmond;}
.nav li{float: left; display: contents; padding:16px;}

#right {
    float: right;
    width: 50%
}

#left {
    float: left;
    width: 20%
}

#header {
    color:orangered; 
    font-family:monospace; 
    font-size:300%; 
    text-align: center;
}